# Тема “Работа с данными в Pandas”
## Задание1

In [2]:
import sys

import pandas as pd
authors = pd.DataFrame({'author_id':[1,2,3],
                     'author_name':['Тургенев', 'Чехов', 'Островский']})
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                      'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                      'price':[450, 300, 350, 500, 450, 370, 290]})

## Задание 2

In [4]:
authors_price = pd.merge(authors, books, on = 'author_id', how = 'left')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание 3

In [5]:
top5 = authors_price.sort_values('price', ascending=False).head(5)
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Задание 4

In [6]:
import numpy as np
authors_price["min_price"] = authors_price.price
authors_price["max_price"] = authors_price.price
authors_price["mean_price"] = authors_price.price
authors_stat = authors_price.groupby('author_name').agg({'min_price': "min", "max_price": "max", "mean_price": "mean"})
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

## Задание 5

In [7]:
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
pd.pivot_table?
book_info = authors_price[['author_name','cover','price']].pivot_table(index="author_name", columns='cover', aggfunc='sum', fill_value=0)
book_info

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950

In [9]:
book_info.to_pickle('./book_info_pandas.pkl')
book_info2 = pd.read_pickle('./book_info_pandas.pkl')
book_info2

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950

In [106]:
import pickle as pkl

In [112]:
with open('book_info.pkl', 'wb') as f:
    pkl.dump(book_info, f)

In [113]:
with open('book_info.pkl', 'rb') as f:
    book_info2 = pkl.load(f)
book_info2

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950

In [114]:
book_info.compare(book_info2)

Empty DataFrame
Columns: []
Index: []